<div class="section">
    <p class="section-icon"><i class="fas fa-laptop-code"></i> Profesonal Experience: </p>
    <table class="table table-bordered section-t">
        <thead>
            <tr>
                <th>NO.</th>
                <th >COMPANY</th>
                <th class="m-size">TIME</th>
                <th class="m-size">DESIGNATION</th>
                <th class="m-size">FROM</th>
                <th class="m-size">TO</th>
            </tr>
        </thead>
        <tbody>
            {% for  experience in site.data.resume.experience %}
            <tr>
                <td>{{forloop.index}}</td>
                <td class="m-size"><b>{{ experience.company }}</b></td>
                <td class="m-size t-center">{{ experience.time }}</td>
                <td class="m-size">{{experience.role}}</td>
                <td class="m-size">{{experience.start}}</td>
                <td class="m-size">{{experience.end}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
