{% assign personal = site.data.resume.personal %}
{% if personal %}
<div class="section">
    <p class="section-icon"><i class="fas fa-home"></i> Personal : </p>
    <ul class="fa-ul">
        {% if personal.birth %}<li><span class="fa-li"><i class="far fa-dot-circle fa-xs"></i></span><p class="no-margin" ><span class="autosize">Date of Birth:</span> <b>{{personal.birth}}</b></p></li>{% endif %}
        {% if personal.father %}<li><span class="fa-li"><i class="far fa-dot-circle fa-xs"></i></span><p class="no-margin" ><span class="autosize">Father’s <span class="autohide">Name</span>:</span> <b>{{personal.father}}</b></p></li>{% endif %}
        {% if personal.mother %}<li><span class="fa-li"><i class="far fa-dot-circle fa-xs"></i></span><p class="no-margin" ><span class="autosize">Mother’s <span class="autohide">Name</span>:</span> <b>{{personal.mother}}</b></p></li>{% endif %}
        {% if personal.address %}<li><span class="fa-li"><i class="far fa-dot-circle fa-xs"></i></span><p class="no-margin" ><span class="autosize">Address:</span> <b>{{personal.address}}</b></p></li>{% endif %}
        {% if personal.languages %}<li><span class="fa-li"><i class="far fa-dot-circle fa-xs"></i></span><p class="no-margin" ><span class="autosize">Languages Know: </span><b>{{personal.languages}}</b></p></li>{% endif %}
    </ul>
</div>
{% endif %}