<div>
  <img src="assets/images/{{ site.data.resume.profile-pic }}" class="img-circle person" alt="{{ site.data.resume.name }}">
    <div class="resume-header">
      <h1 class="name">{{ site.data.resume.name   }}</h1>
      <p class="degree">{{ site.data.resume.degree }}</p>
    </div>
    <div class="row contact">
      <div class="col"><a class="action" href="tel:{{ site.data.resume.mobile }}"><i class="fas fa-phone-alt"></i> {{ site.data.resume.mobile }}</a></div>
    <div class="col"><a class="action" href="mailto:{{ site.data.resume.email }}"><i class="far fa-envelope"></i> {{ site.data.resume.email }}</a></div>
    <div class="col"><a class="action" href="{{ site.data.resume.weblink }}" target="_blank"><i class="fas fa-globe-africa"></i> {{ site.data.resume.weblink }}</a></div>
    </div>
  </div>
  