<div class="section">
  <p class="section-icon"><i class="fas fa-laptop"></i></i> Skills: </p>
  <div class="section-boby">
   
  </div>
</div>


<ul class="fa-ul">
  {% for t-skill in site.data.resume.technical-skills %}
  <li> <span class="fa-li"><i class="fas fa-horse-head"></i></span> <b class="skill-name">{{ t-skill.type | upcase}}</b>
    {% if t-skill.skills %}
    <ul class="fa-ul">
      {% for s-skill in t-skill.skills %}
      <li><span class="fa-li"><i class="fab fa-cloudscale fa-pulse fa-xs"></i></span><p class="sub-namez">{{ s-skill.name }}</p></li>
      {% endfor %}
    </ul>
    {% endif %}
  </li> 
  {% endfor %}
</ul>