.resume-paper.card {
    border-radius: $rounded-borders;
    text-decoration: none!important;
    margin: 10px auto;
    padding-top: 32px;
    padding-bottom: 52px;

    &:hover {
        box-shadow: -2px 6px 22px -12px rgba(0, 0, 0, .24);
    }
}